.AnswerItem{
  border: 1px solid rgb(240,240,240);
  border-radius: 0.2em;
  padding: 0.5em 1em;
  margin-bottom: 0.2em;
  cursor: pointer;
  .success{
    background: rgba(161, 240, 69, 0.7);
  }
  .error{
    background: rgba(240, 87, 108, 0.7);
  }
  &:hover{
    background: rgba(255,255,255, 0.2);
    transition: all 0.3s ease-out;
  }
}